@model ChangeRolesViewModel

<form method="post">
    <div>
        <h3>User: @Model.UserName</h3>
        <h4>Current Roles:</h4>
        <input type="hidden" value="@Model.UserId" asp-for="UserId"/>
        <ul>
            @foreach (var role in Model.UserRoles)
            {
                <li>@role</li>
            }
        </ul>
        <h4>Select Roles:</h4>
        @foreach (var role in Model.AllRoles)
        {
            <div>
                <input type="checkbox" name="selectedRoles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked" : "") />
                <label>@role.Name</label>
            </div>
        }
    </div>
    <button type="submit">Update Roles</button>
</form>